StartProject.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
StartProject.xcodeproj/project.xcworkspace/xcuserdata/antho.xcuserdatad/UserInterfaceState.xcuserstate
StartProject.xcodeproj/xcuserdata/antho.xcuserdatad/xcschemes/xcschememanagement.plist
Pods
StartProject.xcworkspace
Podfile.lock
